<h1>Joseph's Product App</h1>
<!-- <app-product-info></app-product-info>
<app-product-list></app-product-list>
<app-patient></app-patient> -->

<hr />
<a routerLink="productList">ProductList</a> |
<a routerLink="productInfo">ProductInfo</a> |
<a routerLink="user">UserForm</a> |
<a routerLink="addProduct">Add Product</a> |
<a routerLink="createProduct">Create Product</a> |
<a routerLink="patientDetails">Patients</a> |
<a routerLink="contactUs">Contact Us</a> |
<a routerLink="aboutUs">About Us</a> |

<p></p>
<router-outlet></router-outlet>